<% if (typeof flash !== 'undefined' && flash && flash.length) { %>
  <div class="flash-stack">
    <% flash.forEach(function(f){ %>
      <div class="flash flash--<%= f.type === 'error' ? 'error' : (f.type === 'success' ? 'success' : 'info') %>">
        <%= f.message %>
      </div>
    <% }); %>
  </div>
<% } %>
