<% layout('layouts/auth') -%>
<h1 class="auth__title"><%= t('auth.linkExpired') %></h1>
<p class="muted"><%= t('auth.tokenInvalid') %></p>
<p class="auth__alt"><a href="/login"><%= t('auth.backToSignIn') %></a></p>
